<p>
  <b>Equipment ID:</b>
  <%=h @equipment.id %>
</p>

<p>
  <b>Equipment Name:</b>
  <%=h @equipment.name %>
</p>

</p>


<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipments_path %>