<p>
  <b>Building ID:</b>
  <%=h @building.id %>
</p>

<p>
  <b>Building Name:</b>
  <%=h @building.name %>
</p>




<%= link_to 'Edit', edit_user_path(@building) %> |
<%= link_to 'Back', buildings_path %>